$mobile: "only screen and (max-width:800px)"

*
  font-family: 'Roboto','Lato','Lucida Grande',"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif
  font-size: 12px
  margin: 0
  padding: 0

body
  //width: 800px
  //@media #{$mobile}
  //  width: 100%
  //margin: 0 auto


// ---------------------------
// style for fullcalendar
.calendar-content
  color: black
  border: 1px dotted #DFDFDF
  background-color: #FAFAFA
  &:hover
    color: red

// override to fullcalendar
.fc-event-container
  cursor: pointer

.fc-day-grid-event .fc-content
  white-space: normal

.fc-content
  word-break: break-all

.fc-title

.active
  background-color: #fcf8e3 !important

// ---------------------------
// helper class
.red
  font-size: 100%
  color: #FF0000

// ---------------------------
$color1: #F1E0C5
$color2: #C9B79C
$color3: #F4F482
$color4: #342A21
$color5: #DA667B

#header
  width: 100%
  height: 100px
  //background-color: #e8e8e8
  background-color: $color1
  //margin-bottom: 15px
  .mode-button-area
    margin-top: 50px

#note
  background-color: $color4
  padding-top: 10px
  text-align: center

#selectmonth
  border-bottom: 2px solid #B0B0B0
  margin-bottom: 20px

#detail
  .day
    padding:
      top: 15px
      bottom: 15px
    border-bottom: 1px dashed #989898
    h3
    h4
    .contents
      p
        font-size: 150%

#footer
